/* style for the anchor tags as buttons can be found at 
http://stackoverflow.com/questions/8357058/how-to-make-a-href-link-look-like-a-button */
 

body {
	background-image: url("/img/concrete_wall2x.png");
} 

#boxSimon{
	float: left;
	height: 440px;
	width:  500px;
	color: #d3d3d3;
	border: 1px solid black;
	margin: 400px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Lato', 'Play';
	background-image: url("/img/brushed.png");
	box-shadow: 10px 5px 5px black;
}

#button1 {
	display: block;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 50px;
	color: #a7121b;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	background: #a7121b;
	float: left;
}

#button3 {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	color: #2d60d3;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	background: #2d60d3;
	float: left;	


}

#button2 {
	display: block;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 10px;
	color: #2e8b57;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	background: #2e8b57;
	float: right;
	
}

#button4 {
	display: block;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	color: #d3a02d;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	background: #d3a02d;
	float: right


}

#power {
	background-image: url("/img/brushed.png");
	display: block;
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	color: #ff1d8e;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	box-shadow: 10px 5px 5px black;


}

#term {
	background-image: url("/img/brushed.png");
	display: block;
	width: 70px;
	height: 50px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	color: #006d74;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	float: right;
